.custom-button {
  min-width: 180px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 10 35px 10 35px;
  font-size: 10px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #14489c;
      border: none;
    }
  }
}
